# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ferna\Desktop\Faculdade 2021\1 trimestre\Sistemas Inteligentes\atv_simplift.5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
